.navbar-sm-container {
  background-color: #202020;
  padding: 25px;
}
.navbar-lg-container {
  display: none;
}

@media (min-width: 768px) {
  .navbar-sm-container {
    display: none;
  }
  .navbar-lg-container {
    display: flex;
    background-color: #202020;
    padding: 10px;
  }
  .navbar-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    width: 100%;
  }
  .navbar-link {
    color: white;
    font-size: 20px;
    margin-right: 25px;
  }
  .jobby-lg-logo {
    cursor: pointer;
    height: 40px;
    width: 135px;
  }
  .logout-button {
    height: 32px;
    width: 90px;
    padding: 8px;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
    background-color: #4f46e5;
  }
  .navbar-navigation-lg-links-container {
    display: flex;
  }
}
.jobby-logo {
  cursor: pointer;
  height: 40px;
  width: 115px;
}
.navbar-functionality-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.sm-icon {
  color: white;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
.sm-icons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
